<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>违章记录报告</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body {
            margin: 10px;
        }
    </style>
</head>
<body>
<div id="app">
    <template>
        <div class="block">
            <el-date-picker
                    v-model="timevalue"
                    type="datetimerange"
                    :picker-options="pickerOptions"
                    range-separator="-"
                    start-placeholder="违章时间"
                    end-placeholder="违章时间"
                    value-format="yyyy-MM-dd HH:mm:ss"
                    align="right">
            </el-date-picker>
            <el-button type="primary" icon="el-icon-search" @click="searchByTime">搜索</el-button>
            <el-divider direction="vertical"></el-divider>
            <el-button-group>
                <el-button type="success" @click="exportCurrent">导出当前筛选数据<i class="el-icon-download el-icon--right"></i>
                </el-button>
                <el-button type="success" @click="exportAll">导出所有数据<i class="el-icon-download el-icon--right"></i>
                </el-button>
            </el-button-group>
        </div>
        <br>
        <el-table
                :data="tableData"
                stripe
                border
                style="width: 100%"
                id="eventTable">
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="eventId"
                    label="序号"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="employeName"
                    label="违章人员"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="districtName"
                    label="作业场所"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="positionName"
                    label="作业单位"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="eventType"
                    label="违章行为"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="photo"
                    label="违章行为抓拍"
                    width="180">
                <template slot-scope="scope">
                    <a :href="scope.row.photo" target="_blank"><img :src="scope.row.photo" width="100"
                                                                    height="100"/></a>
                </template>
            </el-table-column>
            <el-table-column
                    prop="createTime"
                    label="违章时间"
                    width="180">
            </el-table-column>
        </el-table>
        <div class="block">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[10, 20, 50, 100]"
                    :page-size="currentSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="totalNum">
            </el-pagination>
        </div>

    </template>
</div>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/xlsx/dist/xlsx.full.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                timevalue: '',
                tableData: [],
                currentPage: 1,
                currentSize: 10,
                totalNum: 0,
                exportData: []
            };
        },
        created() {
            const _this = this;
            _this.getPageEvent(_this.currentPage, _this.currentSize, '', '')
        },
        methods: {
            searchByTime() {
                const _this = this;
                startDateTime = '';
                endDateTime = '';
                if (_this.timevalue !== '' && _this.timevalue !== "undefined" && _this.timevalue != null) {
                    startDateTime = _this.timevalue[0];
                    endDateTime = _this.timevalue[1];
                }
                _this.getPageEvent(_this.currentPage, _this.currentSize, startDateTime, endDateTime)
            },
            getPageEvent(page, size, startDateTime, endDateTime) {
                const _this = this;
                axios({
                    method: 'get',
                    url: 'getPageEvent' + '?page=' + page + '&size=' + size + '&start=' + startDateTime + '&end=' + endDateTime
                }).then(function (resp) {
                    _this.tableData = resp.data.data;
                    _this.totalNum = resp.data.count;
                }).catch(resp => {
                    _this.$message.error('请求失败！')
                });
            },
            handleSizeChange(val) {
                const _this = this;
                _this.currentSize = val;
                _this.currentPage = 1;
                _this.getPageEvent(_this.currentPage, _this.currentSize, '', '');
            },
            handleCurrentChange(val) {
                const _this = this;
                _this.currentPage = val;
                _this.getPageEvent(_this.currentPage, _this.currentSize, '', '');
            },
            exportCurrent() {
                const _this = this;
                startDateTime = '';
                endDateTime = '';
                if (_this.timevalue !== '' && _this.timevalue !== "undefined" && _this.timevalue != null) {
                    startDateTime = _this.timevalue[0];
                    endDateTime = _this.timevalue[1];
                }
                _this.getDataToExport(startDateTime, endDateTime).then(res => {
                    res = _this.modifyExcelHeader(res);
                    let ws = XLSX.utils.json_to_sheet(res);
                    let wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, ws, "sheet1");
                    XLSX.writeFile(wb, "违章记录.xlsx");
                    _this.$message.success("数据导出成功！");
                }).catch(error => {
                        _this.$message.error(error)
                    }
                );

            },
            getDataToExport(startDateTime, endDateTime) {
                return new Promise(((resolve, reject) => {
                    axios.get('getDataToExport', {
                        params: {
                            start: startDateTime, end: endDateTime
                        }
                    }).then(resp => {
                        resolve(resp.data.data);
                    }).catch(resp => {
                        reject("数据导出失败！")
                    });
                }))
            },
            exportAll() {
                const _this = this;
                _this.getDataToExport('', '').then(res => {
                    let ws = XLSX.utils.json_to_sheet(res);
                    let wb = XLSX.utils.book_new();
                    XLSX.utils.book_append_sheet(wb, ws, "sheet1");
                    XLSX.writeFile(wb, "违章记录.xlsx");
                    _this.$message.success("数据导出成功！");
                }).catch(error => {
                        _this.$message.error(error)
                    }
                );
            },
            modifyExcelHeader(array) {
                let keyMap = {
                    "eventId": "序号",
                    "employeName": "违章人员",
                    "districtName": "作业场所",
                    "positionName": "作业单位",
                    "eventType": "违章行为",
                    "photo": "违章行为抓拍",
                    "createTime": "违章时间"
                };
                for (let i = 0; i < array.length; i++) {
                    let obj = array[i];
                    for (let key in obj) {
                        let newKey = keyMap[key];
                        if (newKey) {
                            obj[newKey] = obj[key];
                            delete obj[key];
                        }
                    }
                }
                return array;
            }
        }
    });
</script>
</body>
</html>
