<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <link rel="stylesheet" type="text/css" href="{% static 'h5stream/css/h5splayer.css' %}"/>

    <style>
        body {
            margin: 10px;
        }

        .el-footer {
            text-align: center;
            left: 0;
            right: 0;
            bottom: 0;
        }

        .el-header {
            margin-left: 0;
            padding: 0 0;
        }

        .el-drawer__body {
            margin-left: 20px;
        }

        .el-divider--horizontal {
            margin: 0 0;
        }

        .el-main {
            padding-top: 0;
            overflow: hidden;
        }

        .el-aside {
            height: 500px;
        }

    </style>
</head>
<body>
<div id="app">
    <template>
        <el-container>
            <el-main>
                <el-button @click="startVideo">接收视频</el-button>
                <el-button @click="stopVideo">停止接收</el-button>
                <div class="row">
                    <el-tooltip class="item" effect="dark" content="摄像头一" placement="top">
                        <div class="h5videodiv" id="h5videodiv1">
                            <video class="h5video" id="h5sVideo1" autoplay webkit-playsinline playsinline></video>
                        </div>
                    </el-tooltip>
                    <div class="h5videodiv" id="h5videodiv2">
                        <video class="h5video" id="h5sVideo2" autoplay webkit-playsinline playsinline></video>
                    </div>
                </div>
                <div class="row">
                    <div class="h5videodiv" id="h5videodiv3">
                        <video class="h5video" id="h5sVideo3" autoplay webkit-playsinline playsinline></video>
                    </div>
                    <div class="h5videodiv" id="h5videodiv4">
                        <video class="h5video" id="h5sVideo4" autoplay webkit-playsinline playsinline></video>
                    </div>
                </div>

                <el-dialog
                        title=""
                        :visible.sync="dialogVisible"
                        fullscreen="true"
                        center>
                    <el-container>
                        <el-divider></el-divider>
                        <el-header>
                            <div class="block" style="margin-top: 10px;">
                                <el-date-picker
                                        v-model="eventDate"
                                        type="daterange"
                                        align="right"
                                        unlink-panels
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        :picker-options="pickerOptions"
                                        value-format="yyyy-MM-dd">
                                </el-date-picker>
                                <el-button type="primary" icon="el-icon-search" size="medium" @click="searchEvent">
                                    搜索
                                </el-button>
                            </div>
                        </el-header>
                        <el-divider></el-divider>
                        <el-container>
                            <el-aside width="240px">
                                <el-tree :data="treeData" :props="defaultProps" @node-click="handleNodeClick"
                                         accordion icon-class="el-icon-time"></el-tree>
                            </el-aside>
                            <el-main>
                                <el-image
                                        style="width: 100%; height: 50%;overflow-y:visible"
                                        :src="url"
                                        fit="contain"
                                        :preview-src-list="srcList">
                                    <div slot="error" class="image-slot">
                                        <i class="el-icon-picture-outline"></i>
                                    </div>
                                </el-image>
                            </el-main>
                        </el-container>
                        <el-divider></el-divider>
                    </el-container>
                </el-dialog>

               {% comment %} <el-drawer
                        :title="drawerTitle"
                        :visible.sync="drawer"
                        direction="rtl"
                        size="60%">
                    <el-container>
                        <el-divider></el-divider>
                        <el-header>
                            <div class="block" style="margin-top: 10px;">
                                <el-date-picker
                                        v-model="eventDate"
                                        type="daterange"
                                        align="right"
                                        unlink-panels
                                        range-separator="至"
                                        start-placeholder="开始日期"
                                        end-placeholder="结束日期"
                                        :picker-options="pickerOptions"
                                        value-format="yyyy-MM-dd">
                                </el-date-picker>
                                <el-button type="primary" icon="el-icon-search" size="medium" @click="searchEvent">
                                    搜索
                                </el-button>
                            </div>
                        </el-header>
                        <el-divider></el-divider>
                        <el-container>
                            <el-aside width="240px">
                                <el-tree :data="treeData" :props="defaultProps" @node-click="handleNodeClick"
                                         accordion icon-class="el-icon-time"></el-tree>
                            </el-aside>
                            <el-main>
                                <el-image
                                        style="width: 100%; height: 50%;overflow-y:visible"
                                        :src="url"
                                        fit="contain"
                                        :preview-src-list="srcList">
                                    <div slot="error" class="image-slot">
                                        <i class="el-icon-picture-outline"></i>
                                    </div>
                                </el-image>
                            </el-main>
                        </el-container>
                        <el-divider></el-divider>
                    </el-container>
                </el-drawer>{% endcomment %}
            </el-main>

            <el-footer>
                <el-pagination
                        background
                        @current-change="handleCurrentChange"
                        :current-page.sync="currentPage"
                        :page-size="currentSize"
                        layout="total, prev, pager, next"
                        :total="totalNum">
                </el-pagination>
            </el-footer>

        </el-container>
    </template>
</div>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>

<script src="{% static 'h5stream/js/jquery-3.1.1.js' %}"></script>
<script src="{% static 'h5stream/js/bootstrap.js' %}"></script>
<script src="{% static 'h5stream/js/adapter.js' %}"></script>
<script src="{% static 'h5stream/js/platform.js' %}"></script>
<script src="{% static 'h5stream/js/h5splayer.js' %}"></script>
<script src="{% static 'h5stream/js/h5splayerhelper.js' %}"></script>

{#<script src="https://unpkg.com/browse/video.js@7.6.0/dist/video.min.js"></script>#}
{#<script src="https://unpkg.com/browse/vue-video-player@5.0.2/dist/vue-video-player.js"></script>#}
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                currentPage: 1,
                currentSize: 4,
                totalNum: 0,
                drawer: false,
                activeName: 'second',
                drawerTitle: '',

                treeData: [],
                defaultProps: {
                    children: 'children',
                    label: 'label'
                },
                url: '',

                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                eventDate: '',
                srcList: [],
                currentCameraId: '',
                currentCameraName: '',

                dialogVisible:false,

                conf1: {
                    videoid: 'h5sVideo1',
                    protocol: window.location.protocol, //'http:' or 'https:'
                    host: window.location.host + ':8080', //'localhost:8080'
                    rootpath: '/', // '/' or window.location.pathname
                    token: 'token2',
                    hlsver: 'v1', //v1 is for ts, v2 is for fmp4
                    session: 'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
                },
                conf2: {
                    videoid: 'h5sVideo2',
                    protocol: window.location.protocol, //'http:' or 'https:'
                    host: window.location.host + ':8080', //'localhost:8080'
                    rootpath: '/', // '/' or window.location.pathname
                    token: 'token2',
                    hlsver: 'v1', //v1 is for ts, v2 is for fmp4
                    session: 'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
                },
                conf3: {
                    videoid: 'h5sVideo3',
                    protocol: window.location.protocol, //'http:' or 'https:'
                    host: window.location.host + ':8080', //'localhost:8080'
                    rootpath: '/', // '/' or window.location.pathname
                    token: 'token2',
                    hlsver: 'v1', //v1 is for ts, v2 is for fmp4
                    session: 'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
                },
                conf4: {
                    videoid: 'h5sVideo4',
                    protocol: window.location.protocol, //'http:' or 'https:'
                    host: window.location.host + ':8080', //'localhost:8080'
                    rootpath: '/', // '/' or window.location.pathname
                    token: 'token3',
                    hlsver: 'v1', //v1 is for ts, v2 is for fmp4
                    session: 'c1782caf-b670-42d8-ba90-2244d0b0ee83' //session got from login
                },
                v1: null,
                v2: null,
                v3: null,
                v4: null
            };
        },
        created() {
            const _this = this;
            _this.getAllCamera(_this.currentPage, _this.currentSize);
        },
        mounted() {
            const _this = this;
            $('#h5videodiv1').attr('index', 1);
            $('#h5videodiv1').attr('camera', '摄像头一');
            $('#h5videodiv1').click(function () {
                _this.currentCameraId = $('#h5videodiv1').attr('index');
                _this.currentCameraName = $('#h5videodiv1').attr('camera');
                _this.handleEventList();
            });
        },
        methods: {
            handleSizeChange(val) {
                const _this = this;
                _this.currentSize = val;
                _this.currentPage = 1;
                _this.getAllCamera(_this.currentPage, _this.currentSize);
            },
            handleCurrentChange(val) {
                const _this = this;
                _this.currentPage = val;
                _this.getAllCamera(_this.currentPage, _this.currentSize);
            },
            getAllCamera(page, size) {
                const _this = this;
                axios({
                    method: 'get',
                    url: 'getAllCamera' + '?page=' + page + '&size=' + size
                }).then(function (resp) {
                    _this.tableData = resp.data.data;
                    _this.totalNum = resp.data.count;
                }).catch(resp => {
                    _this.$message.error('请求失败！')
                });
            },
            handleEventList() {
                const _this = this;
                {#_this.drawerTitle = '违章记录：' + _this.currentCameraName;#}
                _this.dialogVisible = true;
                _this.getAllEventByCamera(_this.currentCameraId, '', '');
            },
            getAllEventByCamera(cameraId, startDate, endDate) {
                const _this = this;
                _this.currentCameraId = cameraId;
                axios({
                    method: 'get',
                    url: 'getAllEventByCamera' + '?id=' + cameraId + '&start=' + startDate + '&end=' + endDate
                }).then(function (resp) {
                    _this.treeData = resp.data.data;
                    _this.url = resp.data.url;
                    _this.srcList = resp.data.srcList;
                }).catch(resp => {
                    _this.$message.error('请求失败！')
                });
            },
            handleClick(tab, event) {
                console.log(tab, event);
            },
            handleNodeClick(data) {
                const _this = this;
                if (data.url != undefined) {
                    _this.url = data.url;

                    let srcListLength = _this.srcList.length;
                    let i = srcListLength;
                    let index = 0;
                    while (i--) {
                        if (_this.srcList[i] === _this.url) {
                            index = i
                        }
                    }
                    let preArray = _this.srcList.slice(0, index);
                    let suffixArray = _this.srcList.slice(index, srcListLength);
                    _this.srcList = suffixArray.concat(preArray);
                }
            },
            searchEvent() {
                const _this = this;
                startDate = '';
                endDate = '';
                if (_this.eventDate !== '' && _this.eventDate !== "undefined" && _this.eventDate != null) {
                    startDate = _this.eventDate[0];
                    endDate = _this.eventDate[1];
                }
                _this.getAllEventByCamera(_this.currentCameraId, startDate, endDate)
            },

            startVideo() {
                const _this = this;
                _this.updateVideoTag();
                _this.v1 = new H5sPlayerWS(_this.conf1);
                _this.v2 = new H5sPlayerWS(_this.conf2);
                _this.v3 = new H5sPlayerWS(_this.conf3);
                _this.v4 = new H5sPlayerWS(_this.conf4);
                _this.v1.connect();
                _this.v2.connect();
                _this.v3.connect();
                _this.v4.connect();
            },
            stopVideo() {
                const _this = this;
                _this.v1.disconnect();
                _this.v2.disconnect();
                _this.v3.disconnect();
                _this.v4.disconnect();

                delete _this.v1;
                delete _this.v2;
                delete _this.v3;
                delete _this.v4;
                _this.updateVideoTag();
            },
            updateVideoTag() {
                $('#h5videodiv1').empty();
                $('#h5videodiv1').html('<video class="h5video" id="h5sVideo1"  autoplay webkit-playsinline playsinline></video>');

                $('#h5videodiv2').empty();
                $('#h5videodiv2').html('<video class="h5video" id="h5sVideo2"  autoplay webkit-playsinline playsinline></video>');

                $('#h5videodiv3').empty();
                $('#h5videodiv3').html('<video class="h5video" id="h5sVideo3"  autoplay webkit-playsinline playsinline></video>');

                $('#h5videodiv4').empty();
                $('#h5videodiv4').html('<video class="h5video" id="h5sVideo4"  autoplay webkit-playsinline playsinline></video>');
            }

        }
    });
</script>
</body>
</html>
