<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<style>
    div {
        display: flex
    }

    body {
        overflow: -moz-scrollbars-none;
        overflow-x: hidden;
    }
</style>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="{% static 'echarts/echarts.min.js' %}"></script>
    <script src="{% static 'echarts/echarts-gl.min.js' %}"></script>
    <script src="{% static 'echarts/china.js' %}"></script>
    <script src="{% static 'echarts/world.js' %}"></script>
    <script src="{% static 'echarts/wordcloud2.min.js' %}"></script>
</head>

<body>
<div>
    <div style="width: 50%;">{{ bar|safe }}</div>
    <div style="width: 50%;">{{ line|safe }}</div>
</div>
<div>
    <div style="width: 50%;">{{ pie_base|safe }}</div>
    <div style="width: 50%;">{{ timeline_bar|safe }}</div>
</div>
</body>

</html>